<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>User par ID</h1>
        <p>
          <%= @user.first_name %><br/>
          <%= @user.last_name %><br/>
          <%= @user.email %>
        </p>
  </body>
</html>


